table, th, td{
    border: 1px solid;
    background-color:purple;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 100%;
    border-collapse: collapse;
}